.message_list
  .upper--info
    %p.upper--info__user 
      seo
    %p.upper--info__date 
      2016/09/21 06:16:55
  %p.message--text 
    Hello world!
.message_list
  .upper--info
    %p.upper--info__user 
      neko
    %p.upper--info__date 
      2016/09/21 06:16:55
  %p.message--text 
    Good bye world!