.warpper
  .chat-side
    .side--header
      %p.side--header__user--name 
        seo
      %ul.user--menu
        %li.user--menu__new--gruop
          %a.user-menu_label-color{:href => ""}
            %i.fa.fa-edit
        %li.user--menu__edit--user
          %a.user-menu_label-color{:href => ""}
            %i.fa.fa-cog 
    .groups
      = render partial: "messages/group"
  .chat-main
    .main-header
      .current--group
        %h2.current--group__name
          sample
          %ul.group--list
            menber : 
            %li.group--list__menber
              seo neko
      %a.main--heder__edit--btn{:href => ""}
        Edit
    .messages
      = render partial: "messages/message"
    .form
      %form.new-message
        .input--box
          %input.input--box__text{:placeholder => "type a message"}
          %label.input--box__image--label{:href => ""}
            %i.fa.fa-image
            %input.input--box__image{:type => "file", :id => "file_upload"}
        %input.new--message__submit--btn{:type => "submit", :value => "Send"}