- current_user.groups.each do |group|
  .group
    = link_to group_messages_path(group),{class: "group_style" } do
      .group--name 
        = group.groupname
      .group--message 
        = group.show_last_message